body {  background-color: #A3BBC6;
    color:#030422;
    font-family:serif;;
}

h1 {font-family:sans-serif;
color:#09521F;}

h2 {font-family:'Times New Roman', Times, serif;
color:#09521F;}

li {font-family:Verdana, Geneva, Tahoma, sans-serif}

p { font-family:serif;}

blockquote { font-family :Georgia, 'Times New Roman', Times, serif}

a:link {color:#00240B;}

a:visited {color:#01151F;}

a:hover {color:#2A7E43;}

.alignright {float:right;
        padding-right: 10px;
        padding-left: 10px;
        }

.map {
    margin-right: auto;
    margin-left: auto;
    text-align:center;
        }

.tab {  border: 4px solid #2A7E43;
    background-color:#01151F;
    color:#A3BBC6;
    border-spacing: 10px 4px;
    padding:10px;
    width:100%;
    font-size:15px;
    
    }
    
.cap {  color:#09521F;
    font-size: 20px;
    padding:4px;
    font-weight: bold;
    border-spacing:5px;}

th {background-color:#AED7BB;
color:#01151F;
border-spacing:5px 4px;
font-size: 16px;}

td {background-color: #0A3246;
padding:2px 10px;}

#container{
    background-color:#01151F;
    width: 900px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height:275px;
    color:#A3BBC6;
}

header{
    width:900px;
    height:225px;
    background-color: #5E8497;
    padding-top:2px;
    margin-right: auto;
    margin-left: auto;

}

header img {
    margin:3px;
}

.ban {
    text-align:center;
}

.navigation {
    display: flex;
    justify-content:flex-end;
    padding-left:20px;
}

.navigation li {
    list-style: none;
}

.navigation li a {
    margin: 4px;
    padding: 3px;
    border: 1px solid #030422;
    background-color:#0A3246;
    color:#AED7BB;
    text-decoration:none;
}

.navigation li a:hover {
    background-color:#A3BBC6;
    color:#0A3246;
}
section {
    width: 900px;
    background-image: url('Images/backimage.jpg');
    background-repeat: repeat-y;
}

article {
    width: 800px;
    margin-right: auto;
    margin-left: auto;
}

article p {
    color:#030422;
    padding-left:175px;
}

article h1, h2 {
    padding-left:175px;
}

#thumbs, #image {
    width: 700px;
    border: solid 4px #000;
    text-align: center;
    margin: 0 auto 0 auto;
    color: #000;
    background: #5E8497;
    padding: 5px;
    }
    #thumbs {
    margin-top: 10px;
    }
    #thumbs img {
    border: solid 1px #000;
    margin: 5px;
    }
    #image{
    height:400px;
    }
    .instructions{
    font-style:italic;
    }

.rob {
    float: right;

}

footer {
    background-color: #2A7E43;
    width: 900px;
    height: 75px;
    color:#030422;
    padding:5px;
}

footer a:hover {
    color:#01151F;
}

#imgmap {
    margin-left: 0 auto;
    margin-right: 0 auto;
}

.mapheader {
    text-align:center;
}